/*list*/

/*MENU*/
.menu{
    margin: 10px;

    &__liste{
        margin: 0;
        padding: 0;
        list-style: none;

     &__el{
         margin-bottom: 10px;
       
            a{
                text-decoration: none;
            }
                &:hover,
                &:focus{
                    text-decoration: underline;
                }
        
        }
    
    }

    &--dark{
        background-color: red;

        .menu__liste{
            background-color: black;
        }
    }
}
